
cache: bundler
language: ruby
sudo: false
matrix:
  include:
    - rvm: 2.1.3
      env:
        - CUSTOM_RUBY_VERSION=2.1.3
    - rvm: 2.3.1
      env:
        - CUSTOM_RUBY_VERSION=2.3.1
    - rvm: 2.4.0-preview1
      env:
        - CUSTOM_RUBY_VERSION=2.4.0
  allow_failures:
    - rvm: 2.4.0-preview1
  fast_finish: true
notifications:
  email: false
before_script:
  - bundle exec rake db:migrate
script:
  - bundle exec rubocop
  - bundle exec rake
