.map_container#map-wrap
  div class='gmaps4rails_map' id="gmaps"
  	| &nbsp;

javascript:
  function getGeolocation() {
    navigator.geolocation.getCurrentPosition(setGeoCookie);
  };

  function setGeoCookie(position) {
    var cookie_val = position.coords.latitude + "|" + position.coords.longitude;
    document.cookie = "lat_lng=" + escape(cookie_val);
  };

  getGeolocation();

  $( document ).ready(function() {
    handler = Gmaps.build('Google');
    handler.buildMap( { provider: { zoom: 4}, internal: { id: 'gmaps' }}, function(){
      //console.log(#{stations})
      //console.log(#{user})
      var markers = handler.addMarkers(#{stations});
      var user_marker = handler.addMarkers(#{user}, { optimized: false });
            handler.bounds.extendWith(markers);
            handler.map.centerOn(#{user});
            handler.getMap().setZoom(12);
    });
  });


